/* import google fonts & call:
Cormorant: Light 300
Open Sans: Regular 400
Rubik Dirt: Regular 400
Rubik Microbe: Regular 400

font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Microbe', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Open+Sans&family=Rubik+Dirt&family=Rubik+Microbe&display=swap');


/*common pages*/

:root {
    /*themes couleurs*/
    --colorDark: #07020D;
    --colorLight: #ffffff63;
    --colorTheme1: #52150050;
    --colorTheme2: #2a7f635e;
    --colorTheme3: #bab5b639;

    /*Breakpoint*/
    --breakpointCellPhone: 412px;
    --breakpointTablett: 768px;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    /* height: 100vh; */
    width: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw);
    font-family: 'Open Sans', sans-serif;
}

.gridContainer-Header {
    grid-area: 1/1/2/11;
}
h1 p{
    font-family: 'Rubik Microbe', cursive;
    font-size: 2.5rem;
    padding-left: 15px;

}

.gridContainer-sectionLeft {
    grid-area: 2/1/10/5;

}

.gridContainer-sectionRight {
    grid-area: 2/5/10/11;
    /* background-color: aquamarine; */

}
div.imgBackground {
    width: 100%;
    height: 100%;
    background-image: url(./media/img_maxRez/Joris.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.gridContainer-articleIndex {
    grid-area: 3/3/9/7;
    margin: 20px;
}

.gridContainer-Footer {
    grid-area: 10/1/11/11;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*tailles des icones du footer*/
.ico_reseaux {
    width: 30px;
    height: 30px;
}