/* import google fonts & call:
Cormorant: Light 300
Open Sans: Regular 400
Rubik Dirt: Regular 400
Rubik Microbe: Regular 400

font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Microbe', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Open+Sans&family=Rubik+Dirt&family=Rubik+Microbe&display=swap');




:root {
    /*themes couleurs*/
    --colorDark: #07020D;
    --colorLight: #ffffff63;
    --colorTheme1: #52150050;
    --colorTheme2: #2a7f635e;
    --colorTheme3: #bab5b639;

    /*Breakpoint*/
    --breakpointCellPhone: 412px;
    --breakpointTablett: 768px;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 3fr 20px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Rubik Microbe', cursive;
    font-size: 2.5rem;
    padding: 10px;

}

.grid-zoneContainerTop {
    grid-area: 1/1/2/4;

}

.grid-zoneContainerLeft {
    grid-area: 2/1/3/2;
}

.grid-zoneContainerRight {
    grid-area: 2/2/3/4;
}

.grid-zoneContainerBottom {
    grid-area: 3/1/4/4;
}
.vide{
    height: 20px;
}
.main-Nav {
    display: flex;
    padding-left: 45px;
    height: 400px;
    flex-direction: column;
    align-content: space-around;
    background-color: rgb(255, 255, 255);
}

.main-Nav li {
    padding: 10px;
}

.background-img-indexContainer {
    background-image: url(./media/img_maxRez/Joris.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.article-index {
    width: 300px;
    background-color: var(--colorLight);
}

.article-index p {
    margin: 20px;
    text-align: ;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*tailles des icones du footer*/
.ico_reseaux {
    width: 30px;
    height: 30px;
}