/* import google fonts & call:
Cormorant: Light 300
Open Sans: Regular 400
Rubik Dirt: Regular 400
Rubik Microbe: Regular 400

font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Microbe', cursive;
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Open+Sans&family=Rubik+Dirt&family=Rubik+Microbe&display=swap");

/*style for common pages*/

:root {
  /*themes couleurs*/
  --colorDark: #07020d;
  --colorLight: #ffffff48;
  --colorTheme1: #51220ab3;
  --colorTheme2: #2a7f635e;
  --colorTheme3: #e4e4e49d;

  /*Breakpoint*/
  --breakpointCellPhone: 412px;
  --breakpointTablett: 768px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: var(--colorDark);
}

a:hover {
  color: var(--colorTheme1);
}

body {
  /* height: 100vh;
    width: 100vw; */
  display: grid;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: repeat(10, 10vw);
  font-family: "Open Sans", sans-serif;
  justify-content: start;
}

/* ++++++++++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++++++++++++++++++++*/
/* ++++++ main common zones grid area ++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++++++++++++++++++++*/
.gridContainer-Header {
  grid-area: 1/1/3/4;
  padding: 30px 0 0 30px;
  min-height: 70px;
  z-index: 100;
}

.gridContainer-sectionLeft {
  grid-area: 3/1/10/3;
}

.gridContainer-sectionRight {
  grid-area: 3/3/10/10;
  border-radius: 5px;
}

.gridContainer-Footer {
  grid-area: 10/1/11/4;
}

.gridContainer-subMenu {
  grid-area: 1/4/3/9;
  padding: 10px;
}

.gridContainer-smallPic {
  grid-area: 2/10/10/11;
}

.burgerNAV-mobile {
  grid-area: 2/1/7/7;
  z-index: 20000;
  background-color: white;
  border: #07020d solid 3px;
  border-radius: 1em;
  transition: left 1s;
}
.invisible {
  display: none;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++*/
/* +++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ++++++ end of main common zones grid area ++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++*/
/* +++++++++++++++++++++++++++++++++++++++++++++++++*/

h1 {
  font-family: "Rubik Microbe", cursive;
  font-size: 2rem;
  padding-left: 15px;
  z-index: -100;
}
.h1-burger {
  display: none;
}

.main-Nav {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: rgb(255, 255, 255);
}

.main-Nav li a {
  padding-left: 35px;
  transition: 2.5s;
}

.line-animated a {
  border-bottom: #07020d solid 3px;
}

h2 {
  font-family: "Cormorant", serif;
  font-size: 2rem;
}

li {
  margin: 1.2rem;
}

/*container Flex (copy & ico)*/

.flex-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* icones size in footer*/
.ico_reseaux {
  width: 1.5rem;
  height: 1.5rem;
}

.mouseOverImg-cursor:hover {
  cursor: pointer;
}
.burger-nav {
  display: none;
}
/*=====================================================
================ end of common pages ==================
=======================================================*/

/*======================================================
=======================index page=======================
======================================================*/

.gridContainer-mainIndex {
  grid-area: 3/6/9/10;
  margin: 1.5rem;
}

.gridContainer-mainIndex h2,
.gridContainer-mainIndex p {
  padding: 0.5rem;
}

#joris1 {
  width: 59vh;
  border-radius: 50%;
}

.background-mainIndex {
  border-radius: 5px;
  color: var(--colorTheme);
  background-color: var(--colorTheme3);
  height: 45vh;
  scrollbar-width: none;
  overflow-y: scroll;
}

.background-mainIndex::-webkit-scrollbar {
  width: 0;
}

/*=======================================================
==================end of index page======================
=======================================================*/

/*====================================================
==================Galleries pages=====================
====================================================*/

.gridContainer-subMenu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
}

.mainDisplay {
  grid-area: 3/3/10/10;
  display: flex;
  justify-content: center;
}

.mainDisplay img {
  width: auto;
  max-width: 70vw;
  height: 70vh;
  border: black 2px solid;
  border-radius: 15px;
  object-fit: cover;
}

.smallPic {
  height: 100%;
  /* background-image: url("./media/img_maxRez/Film_strip.png"); */
  /* background-size: contain; */
  overflow-y: scroll;
  margin-right: 15px;
}
.animalsGal,
.autoGal,
.nbGal,
.paysageGal,
.spitzbergGal {
  overflow-y: scroll !important;
}

.smallPic img {
  width: 70%;
  height: auto;
  margin-left: 1.2em;
  border: black 2px solid;
  border-radius: 15px;
}
#closeBtnPic:hover,
.smallPic img:hover {
  cursor: pointer;
  box-shadow: 2px 5px 10px var(--colorTheme1);
}

.fullScreen {
  grid-area: 1/1/11/10;
  background-color: white;
  z-index: -1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fullScreen img {
  width: auto;
  max-width: 90vw;
  height: 90vh;
  border: black 2px solid;
  border-radius: 15px;
  object-fit: cover;
}
.insertBtn {
  grid-area: 1/10/2/11;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#closeBtnPic {
  width: 70%;
  z-index: 20000;
  border: black 2px solid;
  border-radius: 15px;

  background-color: white;
}
.blur {
  box-shadow: 0px 0px 20px var(--colorTheme1);
  border-radius: 50%;
  padding: 0 1em;
}

.exist {
  margin-left: 2em;
}

/*============================================================
==================end of Galleries pages======================
============================================================*/

/*============================================================
======================presentation page=======================
=============================================================*/

.imgBckGrd-Prez {
  background: url(./media/img_maxRez/DSC01649.JPG) left top no-repeat;
  background-size: cover;
}

.presentation {
  background-color: var(--colorTheme3);
  height: 100%;
}

.gridContainer-mainArticle1 div img,
.gridContainer-mainArticle2 div img {
  width: 100px;
  height: auto;
}

.flex-containerPrez {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3em;
}

.flex-containerPrez div {
  margin: 20px;
}

.on-mouseOver,
.on-mouseOver2 {
  display: none;
}

.h2-titlePrez {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.452);
}

.photos-presentation img {
  height: 200px;
  float: left;
  padding-right: 20px;
}

.btn-close-div {
  background-color: var(--colorLight);
  border: none;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 50%;
}

.visible {
  grid-area: 3/4/10/10;
  display: flex;
  flex-direction: column;
  /* background-color: var(--colorTheme1); */
  border-radius: 10px;
  padding: 1em;
}

.visible p {
  padding: 1.2em;
  line-height: 1.5em;
}

.align-right {
  text-align: right;
}

.invisible {
  display: none;
}

.flex-positionning-prez {
  background-color: rgba(255, 255, 255, 0.452);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*================================================================
=============end of presentation page=============================
=================================================================*/

/*============================================================
======================   contact page  =======================
=============================================================*/

.contact {
  background-image: url(./media/img_maxRez/contact.jpg);
  height: 60vh;
  color: var(--colorDark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: rgba(255, 255, 255, 0.528);
  text-align: center;
}
textarea {
  resize: none;
}

.flexContact {
  justify-content: center;
  align-items: center;

  padding: 10px;
}
.flexContact div,
.flexContact div p {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  width: 25vw;
  /* height: 30vh; */
  }
  
/*============================================================
==================end of contact   page ======================
============================================================*/

/******************************************************************
************************** Media queries: *************************
******************************************************************/

@media screen and (max-width: 1000px) {
  .main-Nav {
    font-size: 0.8em;
  }
  .gridContainer-subMenu {
    z-index: 100;
    font-size: 1.2em;
  }

  @media screen and (max-width: 897px) {
    .gridContainer-Header {
      grid-area: 1/1/2/11;
      padding: 10px 0 0 10px;
    }
    .gridContainer-subMenu {
      grid-area: 2/3/3/10;
    }
    .gridContainer-subMenu h2 {
      z-index: 100;
      font-size: 0.8em;
    }
    .gridContainer-smallPic {
      grid-area: 3/10/10/11;
    }

    .h1 {
      display: none;
    }
    .h1-burger {
      display: block;
      font-size: 1.3em;
    }
    .main-Nav li a {
      padding-left: 2px;
      transition: 2.5s;
    }
    .flex-footer {
      margin: 10px 0 0 10px;
    }
  }

  @media screen and (max-width: 689px) {
    .burger-nav {
      grid-area: 1/1/3/3;
      display: block;
      margin-left: 10px;
    }
    .gridContainer-Header {
      grid-area: 1/3/2/11;
      padding: 10px 1em;
    }
    .gridContainer-sectionLeft {
      display: none;
    }
    .gridContainer-mainIndex {
      grid-area: 3/1/10/10;
    }
    .gridContainer-sectionRight {
      grid-area: 3/1/9/11;
      border-radius: 5px;
    }

    .gridContainer-Footer {
      grid-area: 10/1/11/11;
      font-size: 0.8rem;
    }

    .gridContainer-subMenu {
      grid-area: 2/1/3/11;
      display: flex;
      justify-content: center;
      align-self: center;
      flex-wrap: wrap;
    }

    .gridContainer-smallPic {
      grid-area: 3/1/11/3;
      display: none;
    }
    .foot-prez {
      display: none;
    }

    .burger-nav img {
      padding-top: 10px;
    }
    .presentation article {
      max-height: 20vh;
      font-size: 1em;
    }
    .flex-containerPrez {
      padding: 15px 0;
    }
    .sub-menu li {
      margin: 0.25em;
    }
    .flex-footer img {
      display: none;
    }

    .background-mainIndex {
      height: 60vh;
    }
  }
}
@media screen and (max-height: 751px) {
  .flex-containerPrez H2 {
    font-size: 1.5em;
  }
  .flex-containerPrez p {
    font-size: 0.75em;
  }
  .flex-containerPrez {
    padding: 5px;
  }
  .flexContact {
      display: flex;
    flex-direction: row;
    width: 65vw;
    justify-content: space-around;
  }
}
